<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net45" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net45" />
  <package id="KeePass" version="2.41.0.38197" targetFramework="net45" />
  <package id="Moq" version="4.10.1" targetFramework="net45" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net45" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>